
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="Display Webcam Stream" name="title">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  #container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
  }
  #videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
  }
</style>

</head>
<body>

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card-2" style="width:130px">
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Emergency Button')">Emergency Button</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'My Account')">My Account</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'My Contacts')">My Contacts</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Settings')">Settings</button>
  <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Help')">Help</button>

</div>

<div style="margin-left:130px">
  <div id="My Account" class="w3-container city" style="display:none">
    <h2>My Account</h2>
    user; {{ user.username }}
email; {{ user.email }}
  </div>

  <div id="My Contacts" class="w3-container city" style="display:none">

<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Contact 1:<br>
<input type="text" name="contact 1"><br>
    <font color="red">E-mail:</font><br>
<input type="text" name="email"><br>
Emergency message:<br>
<input type="text" name="emergency message" size="50"><br><br>
<input type="submit" value="Set contact">
</form>
<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Contact 2:<br>
<input type="text" name="contact 2"><br>
    <font color="red">E-mail:</font><br>
<input type="text" name="email"><br>Emergency message:<br>
<input type="text" name="emergency message" size="50"><br><br>
<input type="submit" value="Set contact">
</form>

  </div>

  <div id="Settings" class="w3-container city" style="display:none">
    <h2>settings</h2>

  </div>

  <div id="Help" class="w3-container city" style="display:none">
   <p>      The most important thing to know is that we are here to help you!You need to stay calm and trust that we know how to immediately get you the help that you need </p>

 <input type="file" accept="video/*;capture=camcorder">
 <input type="file" accept="audio/*;capture=microphone">
 <div id="container">
    <video autoplay="true" id="videoElement">

    </video>
</div>
<script>
var video = document.querySelector("#videoElement");

navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

//if (navigator.getUserMedia) {
    navigator.getUserMedia({video: true}, handleVideo, videoError);
}

function handleVideo(stream) {
    video.src = window.URL.createObjectURL(stream);
}

function videoError(e) {
    // do something
}
</script>

  </div>
<div id="Emergency Button" class="w3-container city" style="display:none">
   <p> help </p>
  </div>


<script>
function openCity(evt, cityName) {
 var i, x, tablinks;
 x = document.getElementsByClassName("city");
for (i = 0; i < x.length; i++) {
   x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
 for (i = 0; i < x.length; i++) {
   tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>

</body>
</html>
